#livefeed 
{
    border: 1px solid #DDDDDD; 
    overflow: auto; 
    height: 300px; 
    width: 525px; 
    padding: 5px;
}

#livefeed div
{
    height: 55px;
}

#livefeed div img
{
    display: inline;
    margin-top: 2px;
    margin-right: 5px;
    height: 45px;
    width: 45px;
    float: left;
}

#livefeed div span
{
    display:inline-block;
    height: 50px; 
    vertical-align: top;
    float: left;
}

#livefeed div span span
{
    display: inline-block;
    width: 450px;
}

#livefeed div span span a
{
    font-weight: bold;
    margin-right: 5px;
}

#livefeed div span span span
{
    font-weight: bold;
}

